body {
  font-family: 'Roboto', sans-serif;
  background-color: #f3f6fe;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto', sans-serif;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

a:hover {
  text-decoration: none !important;
}

.content {
  padding-top: 7rem;
}

h2 {
  font-size: 20px;
}

@media (max-width: 991.98px) {
  .content .bg {
    height: 500px;
  }
}

@media (max-width: 1199.98px) {
  .content .contents,
  .content .bg {
    width: 100%;
  }
}
.content .bg {
  background-size: cover;
  background-position: center;
}

.content a {
  color: white;
  text-decoration: none;
}

.content .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
}

#img {
  height: 100%;
  width: 100%;
}

#head {
  font-weight: bold;
  word-spacing: 3%;
}

.btn.a{
  color: white;
  border-radius: 3%;
}

.btn-primary.a{
  font-size: 13px;
  color: white;
  letter-spacing: 1px;
  line-height: 15px;
  border-radius: 10px;
  background: #504ce5;
  transition: all 0.3s ease 0s;
}

